# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env

# IDE
.vscode/
.idea/

# AI Directives (Local ONLY)
.ai/
.antigravityrules

# Data & Notebooks
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
models/*
!models/.gitkeep
reports/figures/*.png
wandb/
